RewriteCond %{HTTP_REFERER} ^https?://([^.]+\.)*1-99seo\.com [NC,OR]
RewriteCond %{HTTP_REFERER} ^https?://([^.]+\.)*1-free-share-buttons\.com [NC,OR]
RewriteCond %{HTTP_REFERER} ^https?://([^.]+\.)*100dollars-seo\.com [NC,OR]
RewriteCond %{HTTP_REFERER} ^https?://([^.]+\.)*2your\.site [NC,OR]
RewriteCond %{HTTP_REFERER} ^https?://([^.]+\.)*4webmasters\.org [NC,OR]
RewriteCond %{HTTP_REFERER} ^https?://([^.]+\.)*alibestsale\.org [NC,OR]
RewriteCond %{HTTP_REFERER} ^https?://([^.]+\.)*best-seo-offer\.com [NC,OR]
RewriteCond %{HTTP_REFERER} ^https?://([^.]+\.)*best-seo-software\.com [NC,OR]
RewriteCond %{HTTP_REFERER} ^https?://([^.]+\.)*best-seo-software\.xyz [NC,OR]
RewriteCond %{HTTP_REFERER} ^https?://([^.]+\.)*best-seo-solution\.com [NC,OR]
RewriteCond %{HTTP_REFERER} ^https?://([^.]+\.)*boost-my-site\.com [NC,OR]
RewriteCond %{HTTP_REFERER} ^https?://([^.]+\.)*buttons-for-website\.com [NC,OR]
RewriteCond %{HTTP_REFERER} ^https?://([^.]+\.)*buttons-for-your-website\.com [NC,OR]
RewriteCond %{HTTP_REFERER} ^https?://([^.]+\.)*copyrightclaims\.org [NC,OR]
RewriteCond %{HTTP_REFERER} ^https?://([^.]+\.)*event-tracking\.com [NC,OR]
RewriteCond %{HTTP_REFERER} ^https?://([^.]+\.)*fix-website-errors\.com [NC,OR]
RewriteCond %{HTTP_REFERER} ^https?://([^.]+\.)*for-your\.website [NC,OR]
RewriteCond %{HTTP_REFERER} ^https?://([^.]+\.)*free-social-buttons\.com [NC,OR]
RewriteCond %{HTTP_REFERER} ^https?://([^.]+\.)*free-traffic\.xyz [NC,OR]
RewriteCond %{HTTP_REFERER} ^https?://([^.]+\.)*free-video-tool\.com [NC,OR]
RewriteCond %{HTTP_REFERER} ^https?://([^.]+\.)*googlemare\.com [NC,OR]
RewriteCond %{HTTP_REFERER} ^https?://([^.]+\.)*justprofit\.xyz [NC,OR]
RewriteCond %{HTTP_REFERER} ^https?://([^.]+\.)*keywords-monitoring-success\.com [NC,OR]
RewriteCond %{HTTP_REFERER} ^https?://([^.]+\.)*keywords-monitoring-your-success\.com [NC,OR]
RewriteCond %{HTTP_REFERER} ^https?://([^.]+\.)*local-marketing-reports\.com [NC,OR]
RewriteCond %{HTTP_REFERER} ^https?://([^.]+\.)*monetizationking\.net [NC,OR]
RewriteCond %{HTTP_REFERER} ^https?://([^.]+\.)*rank-checker\.online [NC,OR]
RewriteCond %{HTTP_REFERER} ^https?://([^.]+\.)*rankings-analytics\.com [NC,OR]
RewriteCond %{HTTP_REFERER} ^https?://([^.]+\.)*ranksonic\.info [NC,OR]
RewriteCond %{HTTP_REFERER} ^https?://([^.]+\.)*ranksonic\.net [NC,OR]
RewriteCond %{HTTP_REFERER} ^https?://([^.]+\.)*seo-platform\.com [NC,OR]
RewriteCond %{HTTP_REFERER} ^https?://([^.]+\.)*semalt\.com [NC,OR]
RewriteCond %{HTTP_REFERER} ^https?://([^.]+\.)*semaltmedia\.com [NC,OR]
RewriteCond %{HTTP_REFERER} ^https?://([^.]+\.)*site-auditor\.online [NC,OR]
RewriteCond %{HTTP_REFERER} ^https?://([^.]+\.)*snip\.tw [NC,OR]
RewriteCond %{HTTP_REFERER} ^https?://([^.]+\.)*social-widget\.xyz [NC,OR]
RewriteCond %{HTTP_REFERER} ^https?://([^.]+\.)*success-seo\.com [NC,OR]
RewriteCond %{HTTP_REFERER} ^https?://([^.]+\.)*trafficmonetize\.org [NC,OR]
RewriteCond %{HTTP_REFERER} ^https?://([^.]+\.)*trafficmonetizer\.org [NC,OR]
RewriteCond %{HTTP_REFERER} ^https?://([^.]+\.)*traffic2cash\.org [NC,OR]
RewriteCond %{HTTP_REFERER} ^https?://([^.]+\.)*traffic2cash\.xyz [NC,OR]
RewriteCond %{HTTP_REFERER} ^https?://([^.]+\.)*traffic2money\.com [NC,OR]
RewriteCond %{HTTP_REFERER} ^https?://([^.]+\.)*top1-seo-service\.com [NC,OR]
RewriteCond %{HTTP_REFERER} ^https?://([^.]+\.)*top10-way\.com [NC,OR]
RewriteCond %{HTTP_REFERER} ^https?://([^.]+\.)*topseoservices\.co [NC,OR]
RewriteCond %{HTTP_REFERER} ^https?://([^.]+\.)*trafficgenius\.xyz [NC,OR]
RewriteCond %{HTTP_REFERER} ^https?://([^.]+\.)*video--production\.com [NC,OR]
RewriteCond %{HTTP_REFERER} ^https?://([^.]+\.)*video-for-your-business\.com [NC,OR]
RewriteCond %{HTTP_REFERER} ^https?://([^.]+\.)*videos-for-your-business\.com [NC,OR]
RewriteCond %{HTTP_REFERER} ^https?://([^.]+\.)*webmonetizer\.net [NC,OR]
RewriteCond %{HTTP_REFERER} ^https?://([^.]+\.)*website-analyzer\.info [NC,OR]
RewriteCond %{HTTP_REFERER} ^https?://([^.]+\.)*yeartwit\.com [NC,OR]
RewriteCond %{HTTP_REFERER} ^https?://([^.]+\.)*годом\.рф [NC]
RewriteRule ^.* - [F,L]
